<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <!-- 로그인했을때 -->
          <!--버튼 여러개 출력-->
          <a id="home" href="/" class="btn">HOME</a>
          <a id="new" href="/new" class="btn">NEW</a>
          <a id="profile" href="/profile" class="btn">MY PROFILE</a>
          
          <a id="follow" href="/follow" class="btn">FOLLOW</a>
          <a id="msg" href="/msg" class="btn">MESSAGE</a>
          <a id="logout" href="/auth/logout" class="btn">LOG OUT</a>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <!--
            <div class="user-name">{{'안녕하세요! ' + user.nick_id + '님'}}</div>
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a> -->
        {% else %}
        <!--로그인 화면-->
        <img src="image.png" width="60" height="60">
        <img src= "ssustagram_1.png" width="150" height="50">
        <div>
          <h4>WELCOME SSUSTAGRAM!</h4>
        </div>
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>

          </form>
        {% endif %}
        </div>
  
      </div>
      {% block content %}
      {% endblock %}
      
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
